.main{
    display: flex;
    padding-inline: 5%;
    width: 90%;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 90vh;
    padding-top: 2rem;
    padding-bottom: calc(10vh - 2rem);
}

.left{
    max-width: 50%;
    height: auto;
    display: flex;

}

.right{
    width: 55%;
}
.head{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image{
    width: 98%;
    margin: auto;
    max-height: 72%;
}


@media screen and (max-width: 1100px) {
    .main{
        height: auto;
    }
}
    @media screen and (max-width: 768px) {

    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
}